.dashboard-section{

min-height:100vh;

padding:60px 30px;

text-align:center;

background:linear-gradient(
135deg,
#001219,
#005f73
);

color:white;

}


.dashboard-section h1{

font-size:42px;

margin-bottom:15px;

}



.dashboard-container{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

margin-top:50px;

}



.impact-card{

width:250px;

padding:35px;

border-radius:25px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

transition:.3s;

}



.impact-card:hover{

transform:translateY(-10px);

box-shadow:0 15px 30px rgba(0,0,0,.3);

}



.impact-icon{

font-size:45px;

color:#90e0ef;

margin-bottom:20px;

}



.impact-card h2{

font-size:35px;

margin-bottom:10px;

}

.impact-card p{

font-size:18px;

}
/* Beach Map */


.map-section{

min-height:100vh;

padding:50px 30px;

background:linear-gradient(
135deg,
#023e8a,
#0077b6
);

color:white;

text-align:center;

}



.map-section h1{

font-size:40px;

margin-bottom:15px;

}



.map-box{

margin:40px auto;

max-width:1000px;

border-radius:25px;

overflow:hidden;

border:2px solid rgba(255,255,255,.3);

box-shadow:0 10px 30px rgba(0,0,0,.3);

}



.leaflet-popup-content button{

padding:8px 15px;

border:none;

border-radius:20px;

background:#00b4d8;

color:white;

cursor:pointer;

}