.calculator-section{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#023e8a,#0077b6);

}


.calculator-card{

width:500px;

padding:35px;

border-radius:25px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

color:white;

}


.calc-title{

display:flex;

align-items:center;

gap:15px;

font-size:25px;

margin-bottom:20px;

}


.calc-input{

margin:18px 0;

}


.calc-input label{

display:block;

margin-bottom:8px;

}


.calc-input input{

width:100%;

padding:12px;

border-radius:10px;

border:none;

outline:none;

}


.calculator-card button{

width:100%;

padding:15px;

border:none;

border-radius:30px;

background:#00b4d8;

color:white;

font-size:18px;

cursor:pointer;

}


.result-box{

margin-top:25px;

padding:20px;

border-radius:15px;

background:rgba(255,255,255,.2);

}


.tip{

margin-top:15px;

display:flex;

gap:10px;

align-items:center;

}
/* Guardian Pledge */


.pledge-section{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#001f3f,
#0077b6
);

}


.pledge-card{

width:450px;

padding:40px;

text-align:center;

color:white;

border-radius:25px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

}


.pledge-icon{

font-size:55px;

color:#ffd60a;

margin-bottom:20px;

}


.pledge-card h2{

margin-bottom:20px;

}


.pledge-card p{

line-height:1.6;

margin-bottom:25px;

}


.pledge-card button{

padding:14px 35px;

border:none;

border-radius:30px;

background:#00b4d8;

color:white;

font-size:18px;

cursor:pointer;

}


.pledge-success svg{

font-size:60px;

color:#90be6d;

}


.badge{

margin-top:25px;

padding:15px;

border-radius:20px;

background:#ffd60a;

color:#003049;

font-weight:bold;

}
/* Coral Reef */

.coral-section{

min-height:100vh;

padding:40px;

text-align:center;

background:linear-gradient(
135deg,
#023e8a,
#0096c7
);

color:white;

}


.coral-section h1{

font-size:40px;

}


.coral-container{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

margin-top:40px;

}


.coral-card{

width:300px;

padding:30px;

border-radius:25px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

}


.leaf-icon{

font-size:45px;

color:#90be6d;

}


.progress-bar{

height:12px;

background:rgba(255,255,255,.3);

border-radius:20px;

margin:20px 0;

overflow:hidden;

}


.progress{

height:100%;

background:#52b788;

border-radius:20px;

}



.coral-card button{

margin-top:20px;

padding:12px 25px;

border:none;

border-radius:25px;

background:#ff4d6d;

color:white;

font-size:16px;

cursor:pointer;

}



.adopt-success{

margin-top:30px;

font-size:22px;

background:rgba(255,255,255,.2);

padding:20px;

border-radius:20px;

}
/* Newsletter */


.newsletter-section{

min-height:70vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#0077b6,
#023e8a
);

}


.newsletter-card{

width:450px;

padding:40px;

text-align:center;

border-radius:25px;

color:white;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

}



.newsletter-icon{

font-size:50px;

margin-bottom:20px;

color:#90e0ef;

}



.newsletter-card p{

margin:20px 0;

line-height:1.5;

}



.newsletter-card form{

display:flex;

gap:10px;

}



.newsletter-card input{

flex:1;

padding:14px;

border-radius:25px;

border:none;

outline:none;

}



.newsletter-card button{

padding:14px 25px;

border:none;

border-radius:25px;

background:#00b4d8;

color:white;

cursor:pointer;

}



.subscribe-success svg{

font-size:55px;

color:#90be6d;

margin-bottom:20px;

}