.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0b2545;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #134074;
}
.volunteer-btn {
  margin-left: 20px;
  padding: 8px 18px;
  border: none;
  border-radius: 25px;
  background-color: #00b4d8;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.volunteer-btn:hover {
  background-color: #0096c7;
}