/* style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    padding: 20px;
}

.container, .result-card {
    background: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Padding ko width ke andar rakhne ke liye */
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

  
#output{
    white-space: pre-wrap;
    margin-top:20px;
    padding:15px;
    border:1px solid #ccc;
    border-radius:8px;
    background:#f9f9f9;
    line-height:1.6;
}
#copyBtn{
    margin-top:15px;
    width:100%;
    padding:12px;
    background-color:#28a745;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

#copyBtn:hover{
    background-color:#218838;
}